* {
    color: white 
}
html {
    background: rgb(0,113,175);
    background: linear-gradient(90deg, rgba(0,113,175,1) 0%, rgba(163,162,162,1) 30%, rgba(37,37,37,1) 70%, rgba(181,0,0,1) 100%);   
}
h1#welcome {
    text-align: center;
}
div.force-user-card {
    background-color: rgba(0,0,0,0.5);
    padding: 1rem;
    margin: 1rem;
    /* -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    margin: -5px;
    vertical-align: bottom; */
}
button {
    background-color: black;
}
section#force-user-list {
    /* text-align: center;
    width: fit-content;
    columns: 300px 3;
    
    margin: auto; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.button {
    text-align: center;
    width: 100%;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.modal-form {
    background-color: black;
    margin: 15% auto;
    padding: 20px; 
    border: 1px solid black;
    width: 80%;
}

.close {
    float: right; 
    font-weight: bold;
}

#form-button {
    color: black;
}